@media screen and (min-width: 768px) {
    .paragraph-title {
        text-align: center;
    }
    .paragraph {
        width: 700px;
        margin: auto;
        padding-top: 20px;
        text-align: center;
        font-size:large;
    }
}